SimpleServiceTopDown/SimpleService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.java2aspire.com/ss" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SimpleService"
	targetNamespace="http://www.java2aspire.com/ss">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.java2aspire.com/ss">
			<!-- Top level element -->
			<xsd:element name="concatRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="s1" type="xsd:string" />
						<xsd:element name="s2" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<!-- Top level element -->
			<xsd:element name="concatResponse" type="xsd:string" />
		</xsd:schema>
	</wsdl:types>

	<!-- Input message -->
	<wsdl:message name="concatRequestMessage">
		<wsdl:part element="tns:concatRequest" name="parameters" />
	</wsdl:message>
	<!-- Output message -->
	<wsdl:message name="concatResponseMessage">
		<wsdl:part element="tns:concatResponse" name="parameters" />
	</wsdl:message>

	<!-- Mapped with SEI i.e., Endpoint Interface -->
	<wsdl:portType name="SimpleService">
		<wsdl:operation name="concat">
			<wsdl:input message="tns:concatRequestMessage" />
			<wsdl:output message="tns:concatResponseMessage" />
		</wsdl:operation>
	</wsdl:portType>

	<!-- Message Format, Messaging style, Encoding style, Transport protocol -->
	<wsdl:binding name="SimpleServiceSOAP" type="tns:SimpleService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="concat">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<!-- Mapped with Service Interface -->
	<wsdl:service name="SimpleService">
		<wsdl:port binding="tns:SimpleServiceSOAP" name="SimpleServiceSOAP">
			<!-- addr url -->
			<soap:address location="http://localhost:9090/axis2/services/SimpleService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
